- var data = [{"name":"Flutter UI Designs","contribution":"Mobile App","type":"Open Source","skills":[]},{"name":"Flutter movie concept","contribution":"Mobile App","type":"Open Source","skills":[]},{"name":"React Native Loop","contribution":"Mobile App","type":"Open Source","skills":[]},{"name":"Golang minesweeper","contribution":"CLI App","type":"Open Source","skills":[]},{"name":"My CV","contribution":"Web App","type":"Open Source","skills":[]},{"name":"Peekaboo Guru","contribution":"Full Stack","type":"Product","skills":[]},{"name":"Sastaticket.pk","contribution":"Mobile App","type":"Product","skills":[]},{"name":"WheelBees","contribution":"Full Stack","type":"Product","skills":[]},{"name":"Grow youth ministry","contribution":"Mobile App","type":"Product","skills":[]}];

#projects.white-card.float-fix
  .container
    .card.col-lg-10.push-lg-1.float-fix
      .content
        h1.heading.ah1.afw6 Projects
        .projects-holder.container.zer0.float-fix
          for project in data
            .base.col-md-4.col-sm-6
              .project-card
                .header
                  .gradient
                  h3.ab1.afw6.title= project.name
                .body
                  p.ab1.desc= project.name
                .type.al1.afw6= project.type
