- var data = [{"label":"Download JPEG","href":"./assets/hackerhgl-cv.jpg","icon":"mdi mdi-file-image"},{"label":"Download PDF","href":"./assets/hackerhgl-cv.pdf","icon":"mdi mdi-file-pdf"}];

#projects.white-card.float-fix
  .container
    .card.col-lg-10.push-lg-1.float-fix
      .content
        h1.heading.ah1.afw6 Projects
        p.ab2 WOW
