#projects
  .heading
    color: $primary1
    margin-bottom: 8px
  .projects-holder
    .project-card
      cursor: pointer
      margin: 10px 0
      background: white
      border-radius: 8px
      border: 1px solid rgba(0,0,0,0.12)
      .header
        height: 160px
        position: relative
        .gradient
          top: 0
          left: 0
          right: 0
          bottom: 0
          position: absolute
          @include linear-background(0deg, rgba(0,0,0,0.75), transparent 40%)
        .title
          left: 8px
          bottom: 8px
          position: absolute
          color: white
      .body
        padding: 8px
