#projects
  .heading
    color: $primary1
    margin-bottom: 8px
  .projects-holder
    margin: 0 -8px
    .base
      padding: 0px 8px
    .project-card
      margin: 8px 0
      cursor: pointer
      background: white
      position: relative
      border-radius: 8px
      overflow: hidden
      border: 1px solid rgba(0,0,0,0.12)
      .header
        height: 160px
        background: $primary
        position: relative
        .placeholder
          top: 50%
          left: 50%
          color: white
          position: absolute
          transform: translate(-50%,-50%)
          // color: $primary
        img
          width: 100%
          display: block
        .gradient
          top: 0
          left: 0
          right: 0
          bottom: 0
          position: absolute
          @include linear-background(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.1) 35%)
        .skills-holder
          bottom: 0
          right: 8px
          position: absolute
          .sk-icon-base
            opacity: 0
            display: inline-block
            @include transform(scale(0.5) translate(0px, 60px))
            @for $i from 0 through 3
              &:nth-child(#{$i})
                @include transition(all 320ms ease #{$i * 80}ms)
            i.mdi
              color: white
              opacity: 1.0
              font-size: 40px
              margin-left: 8px
        .title
          left: 8px
          bottom: 8px
          position: absolute
          color: white
      .body
        padding: 8px
        .desc
          overflow: hidden
          display: -webkit-box
          -webkit-line-clamp: 2
          text-overflow: ellipsis
          -webkit-box-orient: vertical
        .buttons-holder
          margin-top: 12px
          margin-bottom: 6px
          .button
            margin: 0px 3px
            padding: 4px 7px
            border-radius: 4px
            border: 1px solid rgba(0,0,0,0.12)
            i.mdi
              margin-right: 3px
            &:first-child
              margin-left: 0px
            &:last-child
              margin-right: 4px
      .type
        top: 8px
        right: 8px
        color: white
        padding: 4px 9px
        position: absolute
        border-radius: 5px
        color: $primary
        background: white
        @include transition(all 320ms ease)
      &:hover
        .type
          @include transform(scale(1.2) translate(-10%, 10%))
        .skills-holder
          .sk-icon-base
            opacity: 1
            @include transform(scale(1.0) translate(0px, 0px))

@media (max-width: 980px)
  #projects
    .projects-holder
      .project-card
        .header
          height: 120px

// @media (max-width: 767px)
//   #projects
//     .projects-holder
//       .base
//         &:nth-child(3n+3)
//           padding-right: 10px
//           padding-left: 10px
//         &:nth-child(3n+1)
//           padding-right: 10px
//           padding-left: 10px

//         &:nth-child(2n+2)
//           padding-right: 0px
//           padding-left: 20px
//         &:nth-child(2n+1)
//           padding-right: 20px
//           padding-left: 0px
@media (max-width: 501px)
  #projects
    .projects-holder
      .base
      .project-card
        margin: 10px 0
        .header
          height: 140px
