- var data = [{"key":"Web Stack","skills":["HTML5/CSS","PUG(Jade)/SASS","Bootstrap","Javascript","JQuery","React JS","Material UI","React SSR","Firebase","Socket.IO","WebRTC","Webpack"]},{"key":"Mobile Stack","skills":["React Native","Flutter","Flutter Desktop/Tablet Apps","Firebase","Rest API","Socket.IO","WebRTC","Multi Threading Apps","Pixel Perfect UI","Native Experience","Interaction Based Animations","Parallax Animations"]},{"key":"Server Stack","skills":["Golang","Node JS","Express JS","Adonis JS","JWT Tokens","MYSQL","Mongo DB","WebRTC Based Audio Streaming","SPA Server Side Rendering","Small Scale Micro Services","Dart Scripting"]}];

#skills
  .container.float-fix
    .card.col-sm-10.push-sm-1
      .content
        h1.heading.ah1.afw6 Skills stack
        each obj in data
          .section
            h3.heading.sub.ah2.afw6= obj.key
            .skills-holder
              each skill in obj.skills
                span.skill.ab2.afw7= skill

