- var data = ["Hello there, I am 22 years old, born and raised in Karachi.","I have been developing end-to-end smart solutions for more than four years.","I have worked on different types of projects such as","Air travel, Bus travel, Hotel Booking, Social media, Chatting, E-commerce, Food Ordering, CMS, and Lifestyle.","My knowledge and experience are the results of my hard work.","I can confidently say I have absolute mastery in Flutter, React JS, and React Native.","I enjoy technology a lot and like to showcase my skills and share my knowledge with the community.","This year I have started giving public talks and mentoring people via GDG Kolachi.","I have published several open-source projects on my Github profile.","Links for the projects are right after the skills section.","","Aside from my development interests,","I am also a computer enthusiast and a gamer by heart.","I have a custom-built Core i7 4th generation system with AMD RX 570,","Which I have configured to dual boot macOS via OpenCore and Windows.","Installing macOS via OpenCore on custom hardware is a very complex process.","It requires a great amount of research, debugging, and patience.","I use macOS for development work And Windows for playing games.","I started playing Age of Empires: DE this year.","I have finished Detroit: Become human, CyberPunk 2077, GTA 4, and GTA 5."];

#story.white-card
  .container
    .container-content
      h1.heading.ah1.afw6 Introduction
      each text in data
        if (text != "")
          span.ab1.afw6= text
          span.space= " "
        else
          br
          br
