- var data = ["Hi, This is Hamza Iqbal. I'm self learned full stack developer & my expertise lies in Flutter & React Native development","My knowledge and experience is the result of my hard work & my desire to challenge myself","I enjoy tech a lot and also like to showcase my skills to the world. I've published several open source projects on github links can be found below.","Aside from tech I'm a computer enthusiastic & gamer. I own a custom built 4th gen i7 PC with dual boot setup for Hackintosh (A way to run MacOS on custom hardware) for development & Windows for gaming. I mostly play CS:GO & Age of empires: DE. I've also finished Detroit: Become human, CyberPunk 2077, GTA 4 & GTA 5.","I enjoy weekly dine out & play snooker from time to time."];

#skills
  .container.float-fix
    .card.col-sm-10.push-sm-1
      .content
        h1.heading.ah1.afw6 Introduction
        each text in data
          p.ab1= text
