- var data = ["Hello there, I am 23 years old, born and raised in Karachi.","I am a self-taught developer and have been developing end-to-end smart solutions for more than six years.","I have worked on different types of projects such as","Air travel, Bus travel, Hotel Booking, Social media, Chatting, E-commerce, Food Ordering, CMS, and Lifestyle.","I enjoy technology a lot and always strive to learn new tech.","I have published several open-source projects on my GitHub profile.","","Aside from my development interests,","I like watching anime, flying drones, and playing games.","My few all-time favorite games are. Detroit: become human, Horizon: Zero Dawn, and Cyberpunk."];

#story.white-card.sec-card
  .container
    .container-content
      h1.heading.ah1.afw6 Introduction
      each text in data
        if (text != "")
          span.ab2.afw6= text
          span.space= " "
        else
          .br
