- var data = ["Hello there, I am 22 years old, born and raised in Karachi.","I am a self-taught developer and have been developing end-to-end smart solutions for more than four years.","I have worked on different types of projects such as","Air travel, Bus travel, Hotel Booking, Social media, Chatting, E-commerce, Food Ordering, CMS, and Lifestyle.","I enjoy technology a lot and always strive to learn new tech and adapt to the team's needs and also like to share my knowledge with the community.","This year I have started giving public talks and mentoring people via GDG Kolachi.","I have published several open-source projects on my Github profile.","","Aside from my development interests,","I am also a computer enthusiast and a gamer by heart.","I have a custom-built gaming PC,","which I have configured to dual boot macOS via OpenCore and Windows.","Installing macOS via OpenCore on custom hardware is a very complex process.","It requires a great amount of research, debugging, and patience.","I use macOS for development work And Windows for playing games.","I started playing Age of Empires: DE this year.","I have finished Detroit: Become human, CyberPunk 2077, GTA 4, and GTA 5."];

#story.white-card.sec-card
  .container
    .container-content
      h1.heading.ah1.afw6 Introduction
      each text in data
        if (text != "")
          span.ab2.afw6= text
          span.space= " "
        else
          .br
