- var data = ["Write detailed readme and docs for easy onboarding for new developers.","Write custom scripts for automating the project setup process.","Set up code generator templates for boilerplate code to save time.","Use good coding practices and DRY principles that enhance the development experience.","Easily adapts to different time zone, if needed to collaborate with the team in different regions.","Collaborate with designers to create pixel perfect user interfaces and smooth user experience.","Make fixes and changes according to the QA team's feedback.","Communicate with marketing and business team to successfully implement and launch new in-product features.","Integrate lints and code formatters, which ensures a general standard & code consistency.","Write end-to-end and unit tests, which ensure a high-quality, safe, and stable product.","Proper use of GIT for documentation of updates, changes, and release management.","Integrate CI/CD pipelines for automated deployment and test runners."];

#development.white-card.sec-card
  .container
    .container-content
      h1.heading.ah1.afw6 How I work
      ul.points-holder
        each line in data
          li.points.x.ab1.afw6= line
