- var data = ["Write clean, flexible, scalable, and readable code.","Set up code generator templates for boilerplate code.","Use latest SDKs and APIs for long-term support.","Write custom scripts for automating the project setup process.","Integrates proper lints and code formatters, Which ensures a general standard & code consistency.","Write end-to-end and unit tests, Which ensure high-quality, safe, and stable codebase.","Use git with proper detailed documentation of updates and changes.","Use best coding practices that enhance the development experience for other developers.","Integrate pipelines for automated deployment."];

#development.white-card
  .container
    .container-content
      h1.heading.ah1.afw6 How I work
      ul.points-holder
        each line in data
          li.points.x.ab1.afw6= line
