#download-card
  padding: 24px 0
  margin-top: 32px
  background: white
  text-align: center
  .base
    color: white
    color: $dark
    margin: 18px 16px
    padding: 12px 32px
    border-radius: 6px
    display: inline-block
    border: 1px solid rgba(0,0,0,0.12)
    box-shadow: 0 1px 8px rgba(0,0,0,0.0)
    @include transition(all 400ms ease)
    &:hover
      box-shadow: 0 0 8px rgba(0,0,0,0.08)
  .icon
    color: $primary1
    margin-right: 12px
