- data = [{"label": "Download JPEG", "href": "./assets/hackerhgl-cv.jpg"}];

#download-card(data-html2canvas-ignore="true")
  .container
    .content
      each obj in data
        a.base(href= obj.href, download="")= obj.label
