- jpg = "https://github.com/hackerhgl/CV/releases/latest/download/hackerhgl-cv.jpg"
- pdf = "https://github.com/hackerhgl/CV/releases/latest/download/hackerhgl-cv.pdf"
- data = [{"label": "Download JPEG", "href": jpg}, {"label": "Download PDF", "href": pdf}];

#download-card(data-html2canvas-ignore="true")
  .container
    .content
      each obj in data
        a.base(href= obj.href, download="")= obj.label
