<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hackerhgl CV
        link(rel="stylesheet", href="./style.css")
    body#body
        include components/header/header.pug
        include components/contact/contact.pug
        include components/story/story.pug
        include components/skills/skills.pug
        include components/download/download.pug
        include components/summary/summary.pug
        include components/development/development.pug
        include components/experience/experience.pug
        include components/footer/footer.pug
    script(src="./script.js")
